<section class="sectional slide7">
    <div class="container-fluid" style="padding-bottom: 200px;padding-left: 80px;padding-right: 80px">
        <div class="col-xl-3 slide7_content" style="padding-bottom: 80px;">
            <div class="new_arrivals h2">
                <h2 style="font-size: 16px;">Contact Us</h2>
                <div style="margin-bottom: 20px" class="h2_gach"></div>
            </div>
            <div class="slide7-content">
                <i class="fas fa-map-marker-alt"></i>
                <p>1998 Wall Street 707, Washington DC, USA</p>
            </div>
            <div class="slide7-content">
                <i class="far fa-envelope"></i>
                <p>    ryanacalendars@domain.com<br/>
                    ryanacalendars@gmail.com</p>
            </div>
            <div class="slide7-content">
                <i class="fas fa-mobile-alt"></i>
                <p>    ( 84) 0123 456 789<br/>
                    ( 84) 00123 456 789</p>
            </div>
        </div>
        <div class="col-xl-3 slide7_content">
            <div class="new_arrivals h2">
                <h2 style="font-size: 16px;">Information</h2>
                <div style="margin-bottom: 20px" class="h2_gach"></div>
            </div>
            <div class="slide7-content" style="margin-bottom: 15px">
                <a href="#">Contact Us</a>
            </div>
            <div class="slide7-content" style="margin-bottom: 15px">
                <a href="#">Site Map</a>
            </div>
            <div class="slide7-content" style="margin-bottom: 15px">
                <a href="#">Privacy Policy</a>
            </div>
            <div class="slide7-content" style="margin-bottom: 15px">
                <a href="#">About Us</a>
            </div>
            <div class="slide7-content" style="margin-bottom: 15px">
                <a href="#">Costumer Service</a>
            </div>
        </div>
        <div class="col-xl-3 slide7_content">
            <div class="new_arrivals h2">
                <h2 style="font-size: 16px;">My Account</h2>
                <div style="margin-bottom: 20px" class="h2_gach"></div>
            </div>
            <div class="slide7-content" style="margin-bottom: 15px">
                <a href="#">Sign In</a>
            </div>
            <div class="slide7-content" style="margin-bottom: 15px">
                <a href="#">View Cart</a>
            </div>
            <div class="slide7-content" style="margin-bottom: 15px">
                <a href="#">My Wishtlist</a>
            </div>
            <div class="slide7-content" style="margin-bottom: 15px">
                <a href="#">Track My Order</a>
            </div>
            <div class="slide7-content" style="margin-bottom: 15px">
                <a href="#">Help</a>
            </div>
        </div>
        <div class="col-xl-3 slide7_content">
            <div class="new_arrivals h2">
                <h2 style="font-size: 16px;">Instagram</h2>
                <div style="margin-bottom: 20px" class="h2_gach"></div>
            </div>
            <div class="slide7_contact">
                <img src="https://www.sanxuatsotay.com.vn/wp-content/uploads/2017/06/nhat-ky-du-lich.jpg"/>
                <img src="https://ae01.alicdn.com/kf/H2a4a5a0c107f4e1181d2154667e54c9b9/N-m-2020-2021-Ch-ng-Tr-nh-Ngh-S-L-p-K-Ho-ch-T.jpg_q50.jpg"/>
                <img src="https://cf.shopee.ph/file/2c304bcd6d2be9a785e07b8106620c1f"/>
            </div>
            <div class="time">
                7 Days A Week From 8.00 Am To 5 Pm
            </div>
            <div class="contact">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-invision"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</section>