<meta charset="UTF-8">
<title>RYANA CALENDARS</title>
<script src="https://kit.fontawesome.com/d3fa3cecaa.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/libs/bootstrapv4.5/css/bootstrap.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/libs/bootstrapv4.5/js/bootstrap.js"></script>