<section class="sectional header">
    <div class="container-fluid">
        <div class="logo">
            <a href="/"><img src="/imgs/logo.png"></a>
        </div>
        <div class="right">
            <ul class="menu">
                <li><a href="/" style="color: #f86d72;border-bottom: 1px solid #f86d72">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li class="dropdows">
                    <a href="/shop">Categorys<i class="fas fa-chevron-down" style="margin-left: 5px;font-size: 0.6em;"></i></a>
                    <div class="dropdows-menu">
                        <% danhmucs.map(function (e) { %>
                            <div class="dropdows-item"><a href="/category/<%= e.ID%>"><%= e.TenDanhMuc%></a></div>
                        <% })%>
                    </div>
                </li>
                <li><a href="#">Blog</a></li>
                <li class="dropdows">
                    <a href="/shop">Designer<i class="fas fa-chevron-down" style="margin-left: 5px;font-size: 0.6em;"></i></a>
                    <div class="dropdows-menu" style="background-color: #ffffff;width: 200px;padding-top: 10px;text-align: left">
                        <% nhathietkes.map(function (e) { %>
                        <div class="dropdows-item"><a href="/designer/<%= e.ID%>"><%= e.TenNhaThietKe%></a></div>
                        <% })%>
                    </div>
                </li>
            </ul>
            <ul class="menu_seach">
                <li style="width: 53%;margin-top: 5px;margin-right: -40px;margin-left: 60px">
                    <form action="/timkiem" method="get">
                        <input style="width: 80%;border-radius: 25px;margin: 0 !important;float: left;border: 1px solid #f86d72" type="text" name="search" class="form-control input_search" placeholder="Search..." required/>
                        <button style="width: 20%;float: left;margin-left: -30px;border-radius: 25px;background-color: #f86d72;border: 1px solid #f86d72" type="submit" class="btn btn-danger"><i class="fas fa-search"></i></button>
                    </form>
                </li>
                <li><a href="#"><i class="far fa-heart"></i></a></li>
                <li><a href="#"><i class="far fa-user-circle"></i></a></li>
                <li><a href="/cart"><i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </div>
</section>